{% extends "base.html" %}

{% block content %}
<h1 class="text-center" align="center" style="margin-top: 8%">{{create}}</h1>
 {% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}.
    </div>
{% endif %}
{% endwith %}
<form method="POST" action="/signup">
 <div class="col-xs-12" align="center">
 <div class="form-group" align="center">
 <input type="text" name="name" class="form-control" placeholder="Введите Имя"  align="center" style="margin-top: 1%"/>
 </div>
 </div>
 <div class="col-xs-12" align="center">
 <div class="form-group" align="center">
 <input class="form-control" name="email" type="email" placeholder="Ваша почта" align="center" style="margin-top: 1%"/>
 </div>
 </div>
 <div class="col-xs-12" align="center">
 <div class="form-group" align="center">
 <input type="password" class="form-control" name="password" placeholder="Введите пароль" align="center" style="margin-top: 1%"/>
 </div>
 </div>
 <div class="col-xs-12" align="center">
 <div class="form-group" align="center">
 <input type="password" class="form-control" name="repass" placeholder="Повторите пароль" align="center" style="margin-top: 1%"/>
 </div>
 </div>
 <div class="text-center col-xs-12" align="center">
 <button class="w-100 btn btn-lg btn-primary" type="submit">{{create}}</button></div>
</form>
{% endblock %}