{% extends "base.html" %}

{% block content %}
    <div style="margin-top: 1%">
        <img src="../static/1.png" align="left" height="250" width="400">
    <h2 align="center">Меняя привычки, мы меняем свою жизнь. Сделать это легко только на словах.</h2></div>
    <div style="margin-top: 25%">
            <img src="../static/2.png" align="right" height="250" width="400">
    <h2 align="center">Чтобы добиться стойких изменений, не нужно приносить больших жертв, достаточно просто подойти с научной точки зрения и прислушаться к опыту тех, кому это удалось.</h2></div>
    <div style="margin-top: 25%">
        <img src="../static/3.png" align="left" height="250" width="400">
    <h2 align="center">От твоих привычек зависит многое. Действия, которые ты каждый день совершаешь автоматически, определяют всю твою жизнь в целом. Чтобы идти верным курсом, нужно лишь выработать правильную манеру поведения и постоянно ее придерживаться.</h2></div>
    <div style="margin-top: 25%">
        <img src="../static/4.png" align="right" height="250" width="400">
    <h2 align="center">Учеными доказано, что привычка формируется за 28-30 дней.
Это приложение поможет создать привычку и следить за соблюдением на протяжении всего периода ее формирования.</h2></div>
    <div style="margin-top: 30%"><h2 align="center">Если хочешь улучшить свою жизнь и завести множество полезных привычек - жми "зарегистрироваться". Уже улучшаешь себя - нажимай "войти"</h2>
         <div class="d-grid gap-2 d-md-block" align="center">
             <form action="/login">
                 <input type="submit" class="btn btn-info btn-lg" value="Войти">
             </form>
             <form action="/signup">
                 <input type="submit" class="btn btn-success btn-lg" value="Зарегестрироваться">
             </form>
         </div>
    </div>
    <img src="../static/5.png" align="left" style="margin-top: 15%" height="200" width="400">
{% endblock %}
